# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\SPEKTRA\_Skillbox_2.0\1_HTML_CSS\weblayout\Blanchard_(graduation_work)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
